.wrapper {
    background-color: white;
    margin: 0;
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}

.small {
    padding-bottom: 10px;
    padding-top: 10px;
}
.main-nav {
    background-color: #7d71d3;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
}

p, li, a, span, label {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    color: #999999;
}
.bg-1 {
    background: url("http://demo.themefisher.com/themefisher/lifetrakr/images/backgrounds/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner {
    padding: 170px 0 145px;
}

.app-badge {

}